<app-header-breadcrumb></app-header-breadcrumb>

    <div class="p-fluid p-formgrid p-grid">   
    
        <div class="p-fluid p-formgrid p-grid p-col-12">           


            <div class="p-col-12 p-lg-12">
                <p-panel>
                    <ng-template pTemplate="header">
                        INFORMAÇÕES IMPORTANTES
                    </ng-template>
                    <p>Não serão atendidos pedidos:</p>
                    <p>* Genéricos</p>
                    <p>* Desproporcionais ou desarrazoados</p>
                    <p>* Que exijam trabalhos adicionais de análise, interpretação ou consolidação de dados e informações, ou serviços de produção ou tratamento de dados.</p>
                    <p>* Que envolvam dados pessoais solicitados por quem não tenham autorização legal ou que não tenha anuência da pessoa a que se refere o dado.</p>
                    <p>* Relativo às informações classificadas como sigilosas por lei ou ato normativo.</p>
                    <p>* Que não seja de competência do SESI ou do SENAI PE.</p>        
                    <ng-template pTemplate="footer">
                        <p>* Outras Informações, Ligue:  0800.600.9606</p>
                    </ng-template>
                </p-panel>
            </div>
        </div>



        </div>

 




